nav{
    display:flex;
    background-color: whitesmoke;
    justify-content: center;
    text-justify: auto;
}
.enter{
    display:flex;
    justify-content: center;
    background-color: antiquewhite;
}

.footer {
    display:flex;
    justify-content: center;
}

.btn{
    border-style: dashed;
}